@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,500;1,14..32,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define CSS Variables */
@layer base {
  :root {
    --background: #f5f5f5;
    --foreground: #333333;
    --customPink: #ff7f7f;
    --customBlue: #011731;
  }
}

/* Apply Default Body Styles */
body {
  color: var(--foreground);
  background-color: var(--background); /* Use background-color instead */
  font-family: Arial, Helvetica, sans-serif;
}
